<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center primary">Programming Skills</h1>
      <div class="w-100 text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="skill-container">
              <div class="skill-img">
                <img src="./assets/projects/angular.png" alt="">
              </div>
              <div class="skill-description">
                <h2>Angular</h2>
                <p>I started using Angular in October 2017 and since then I have been using it for creating dynamic websites and
                  single page web applications.
                </p>
                <div class="progress">
                  <div class="progress-bar" style="width: 68%; background: #C3002F ">
                    <span class="bar-width">68%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="skill-container">
              <div class="skill-img">
                <img src="./assets/projects/bootstrap.jpg" alt="">
              </div>
              <div class="skill-description">
                <h2>Bootstrap</h2>
                <p>To ensure that the front-ends I create for web projects, I make use of Bootstrap to make sure that the products
                  I create scale accordingly across all device screen sizes and maintain great user experience.
                </p>
                <div class="progress">
                  <div class="progress-bar" style="width: 95%; background: #6931B8">
                    <span class="bar-width">95%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="skill-container">
              <div class="skill-img">
                <img src="./assets/projects/HTML5.png" alt="">
              </div>
              <div class="skill-description">
                <h2>HTML</h2>
                <p>
                  As the 'core maker' for websites, I make use of HTML to markup and give context to websites and single page web applications
                  that I am building.
                </p>
                <div class="progress">
                  <div class="progress-bar" style="width: 98%; background: #E44D26 ">
                    <span class="bar-width">98%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="skill-container">
              <div class="skill-img">
                <img src="./assets/projects/css3.png" alt="">
              </div>
              <div class="skill-description">
                <h2>CSS</h2>
                <p>
                  To beautify and give life to my web projects, I make use of CSS to make sure that the end user of my web projects receives
                  comfort and as well as great user experience while making use of the product.
                </p>
                <div class="progress">
                  <div class="progress-bar" style="width: 87%; background: #0170BA ">
                    <span class="bar-width">87%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="skill-container">
              <div class="skill-img">
                <img src="./assets/projects/js.png" alt="">
              </div>
              <div class="skill-description">
                <h2>JavaScript</h2>
                <p>
                  I made use of JavaScript to give my websites and web applications functionality and to further increase the end-user's -
                  user experience. It's use mainly lies when I am creating calls in ExpressJS.
                </p>
                <div class="progress">
                  <div class="progress-bar" style="width: 60%; background: #EDDB4F ">
                    <span class="bar-width">60%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="skill-container">
              <div class="skill-img">
                <img src="./assets/projects/java.png" alt="">
              </div>
              <div class="skill-description">
                <h2>Java</h2>
                <p>I started using Java in 2015 in the Netbeans IDE and I have been mastering it ever since. Through my knowledge
                  of it. It has served as the foundation for learning OOPs and other languages. It got me into the habit
                  of writing clean sleek code.
                </p>
                <div class="progress">
                  <div class="progress-bar" style="width: 82%; background: #3775D1">
                    <span class="bar-width">82%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="skill-container">
              <div class="skill-img">
                <img src="./assets/projects/android.jpg" alt="">
              </div>
              <div class="skill-description">
                <h2>Android Development</h2>
                <p>As I am in the process of impoving my skills. I have taken into consideration Mobile Development and as
                  introduction to Mobile Development, I am in the process of learning how to create apps for Android Devices.
                </p>
                <div class="progress">
                  <div class="progress-bar" style="width: 34%; background: #88BB56">
                    <span class="bar-width">34%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="skill-container">
              <div class="skill-img">
                <img src="./assets/projects/csharp.png" alt="">
              </div>
              <div class="skill-description">
                <h2>C#</h2>
                <p>As I am exploring other development platforms. I have come across Xamarin and it introduced me to C#. Through
                  my Java knowledge, migrating to it was easy.
                </p>
                <div class="progress">
                  <div class="progress-bar" style="width: 62%; background: #68217A">
                    <span class="bar-width">62%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of First Row -->
  <!-- Start of Second Row -->
  <!-- Work -->
  <digital-work></digital-work>
  <!-- Education -->
  <digital-education></digital-education>
  <!-- Contact -->
  <digital-contact></digital-contact>
  <!-- End of Container -->
</div>