.digital-navbar{
    /*  #c9c8c8 */   
    /* box-shadow:0 .5px 0 0 #c9c8c8; */
    width: 100%;
    background-color:transparent;
    min-height: 25px;
    position: fixed;
    z-index: 1;
    padding: 5px 10px;
    color: #ffffff;
    object-position: center;
    display: inline-flex;
}
/* .digital-navbar */

.user-logo{
    max-width: 45px;
    max-height: 45px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    /* float: left; */
    align-self: center;
    cursor: pointer;
}
.username{
    font-weight: 100 !important;
    font-size: 30px;
    letter-spacing: 1.5px;
    color: inherit;
    text-transform: capitalize;
    align-self: center;
    padding: 0 10px;
    /* display: inline-flex; */
}
.name{
    font-weight: inherit !important;
    font-size: inherit;
    letter-spacing: inherit;
    color: inherit;
    text-transform: inherit;
    align-self: inherit;
    padding: inherit;
    cursor: pointer;
}
.link-container > a{
    align-self: center !important;
    font-size: 18px;
    text-transform: capitalize;;
    font-weight: lighter;
    padding: 0 10px;
    text-decoration: none;
    align-items: center;    
    color: inherit;
}
*::selection{
    border: none;
}
.socials{
    align-self: center;
    float: right !important;
    max-height: fit-content;
    right: 0 !important;
    color: inherit;
    /* flex-direction: column-reverse; */
}
.link-container{
    color: inherit;
    display: inherit;
}
.socials > a{
    font-size: 20px;
    color: inherit;
    /* float: right; */
}
.activeNavbar{
    background-color: #ffffff;
    color: rgb(119, 162, 211);
    box-shadow:0 .5px 0 0 #c9c8c8;
    opacity: .96;
}
i{
    display: none;
    color: inherit;
    align-self: center;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 40px;
}
/* navbar body */
.header{
    /* height: 50vh; */
    height: 100%/*fit-content*/;
    width: 100%;
    background-color: #5281B8;
}
img{
    width: 80%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.container{
    padding-top:40px;
    color: #ffffff;
    height: fit-content;
}
.contain{
    width: 100%;
    height: 70%;
    min-height: fit-content;
    margin: auto !important;
    padding: 25px 0;
}
.contain > *{
    color: #ffffff;
}
.contain > p{
    font-size: 18px;
    text-align: left;
    white-space: pre-line;
}
.contain > a{
    font-size: 15px;
}
.font-size-large{
    font-size: 35px !important;
}
.light-text{
    font-weight: 100 !important;
}
.show{
    display: inherit !important;
}
/*  Responsiveness */

@media (max-width:864px){
    .digital-navbar> .link-container > a{
    display: inherit;
    }
    .username{
    width: calc(100% - 45px);
    }
    .col-sm-6 >img{
        width: 100%;
    }
    .username>i{
    display: block;
    }
    /* links to be rendered on click and position is going to change */
    .link-container{
        position: fixed;
        left: 0;
        top:0;
        margin-top: 55px;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, #5281B8, #5282b8f1 ) ;
        display: none !important;
    }
    .activeNavbar > .link-container{
         background: linear-gradient(to right, #ffffff, #fffffff1 ) ;
    }
    .link-container > a{
        font-size: 23.5px;
    }
    .show{
        display: block !important;
    }

}

@media (max-width:575px) {
    .displayImg{
         display: none
    }
    .username >.name{
        display: none;
    }
    h1,h2,h3{
        text-align: center
    }
}
@media (max-width:428px){
    .username >i{
        margin-right: 0;
    }
}