<div class="container">
  <div class="w-100 text-center">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center primary">Education & Qualifications</h1>
      </div>
        <div class="col-md-4 text-left">
          <img src="./assets/projects/camst.png" alt="Silulo">
          <h2>The Cape Academy of MST</h2>
          <h5>January 2014 - December 2016</h5>
          <p> Through hard work and dedication, I was lucky enough to be chosen by my primary school to 
           go study my High School grades at The Cape Academy of Mathematics, Science and Technology where I got introduced to
           the programming side of IT. I joined an Oracle Pilot Programme that I attended over weekends and school holidays
          and got exposed to using the Java Programming Language as introduction to Coding.
                     </p>
      </div>
        <div class="col-md-4 text-left">
          <img src="./assets/projects/capaciti.png" alt="absa">
          <h2>CapaCiti Java Post Matric Training Programme</h2>
          <h5> January 2017 - July 2018</h5>
          <p> After sacrificing my weekends and holidays during High School, I took a 6months course at CapaCiti After completing
            Matric. My knowledge of Java gre which prepared me for an Oracle Java Associate Exam.
          </p>
        </div>
      <div class="col-md-4 text-left">
        <img src="./assets/projects/oracle.png" alt="absa">
        <h2>Oracle Java SE7 Certified Associate</h2>
        <h5>Date Obtained: 26th July 2017</h5>
        <p> After completing the CapaCiti Java Post Matric Training Programme, I wrote the Oracle Certified Associate Exam and passed.
        </p>
        </div>
    </div>
  </div>
</div>